@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download');

:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
}

body {
    font-family: "Jersey 25", monospace;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

main {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    padding: clamp(0.75rem, 2vw, 2rem);
}

.card {
    background: color-mix(in oklab, canvas, canvasText 7%);
    border: 1px solid color-mix(in oklab, canvasText, transparent 88%);
    border-radius: 12px;
    padding: clamp(0.1rem, 5vw, 1rem);
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}
